on:
  pull_request:
  push:
    branches:
      - main
name: CI
env:
  SYMFONY_DEPRECATIONS_HELPER: disabled
  BROWSERTEST_OUTPUT_DIRECTORY: 'sites/simpletest'
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['8.2']
        core: ['10.1.x']
        include:
          - core: 9.5.x
            php-version: '8.1'
    container:
      image: ghcr.io/city-of-helsinki/drupal-php-docker:${{ matrix.php-version }}-alpine
    services:
      artemis:
        image: apache/activemq-artemis:latest-alpine
      db:
        image: mariadb
        env:
          MYSQL_USER: drupal
          MYSQL_PASSWORD: drupal
          MYSQL_DATABASE: drupal
          MYSQL_ROOT_PASSWORD: drupal
        ports:
          - 3306:3306

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Parse $MODULE_NAME from composer.json
        run: echo "MODULE_NAME=$(cat composer.json | jq -r .name | awk -F/ '{print $NF}')" >> $GITHUB_ENV

      - name: Set Drupal root
        run: echo "DRUPAL_ROOT=$HOME/drupal" >> $GITHUB_ENV

      - name: Set module folder
        run: echo "MODULE_FOLDER=$DRUPAL_ROOT/modules/contrib/$MODULE_NAME" >> $GITHUB_ENV

      - name: Clone drupal
        run: |
          git clone --depth 1 --branch "${{ matrix.core }}" \
            https://git.drupal.org/project/drupal.git/ $DRUPAL_ROOT

      - name: Setup composer and dependencies
        working-directory: ${{ env.DRUPAL_ROOT }}
        run: |
          composer config platform.php ${{ matrix.php-version }}
          composer run-script drupal-phpunit-upgrade
          composer config repositories.5 path $GITHUB_WORKSPACE
          composer require drupal/$MODULE_NAME -W
          composer require "drush/drush ^11.0"
          composer config --no-plugins allow-plugins.dealerdirect/phpcodesniffer-composer-installer true
          composer require --dev "drupal/coder"
          # We use COMPOSER_MIRROR_PATH_REPOS=1 to mirror local repository
          # instead of symlinking it to prevent code coverage issues with
          # phpunit. Copy .git folder manually so codecov can generate line by
          # line coverage.
          cp -r $GITHUB_WORKSPACE/.git $MODULE_FOLDER/

      - name: Run PHPCS
        working-directory: ${{ env.DRUPAL_ROOT }}
        run: |
          vendor/bin/phpcs $MODULE_FOLDER --standard=Drupal --extensions=php,module,inc,install,test,info

      - name: Install Drupal
        working-directory: ${{ env.DRUPAL_ROOT }}
        run: |
          php -d sendmail_path=$(which true); vendor/bin/drush --yes -v site-install minimal --db-url="$SIMPLETEST_DB"
          vendor/bin/drush en $MODULE_NAME -y

      - name: Start services
        working-directory: ${{ env.DRUPAL_ROOT }}
        run: |
          chromedriver --port=4444 > /dev/null 2>&1 &
          # Wait for Drush server to start.
          for i in {1..5}; do
            RESPONSE_CODE=$(curl -s -o /dev/null -w "%{http_code}" "$SIMPLETEST_BASE_URL" || true);
            if [ "$RESPONSE_CODE" -gt "301" ] || [ "$RESPONSE_CODE" -lt "200" ]; then
              sleep 2;
            fi
          done

      - name: Run PHPUnit tests
        working-directory: ${{ env.DRUPAL_ROOT }}
        run: |
          vendor/bin/phpunit \
            --bootstrap $DRUPAL_ROOT/core/tests/bootstrap.php \
            -c $MODULE_FOLDER/phpunit.xml \
            --coverage-clover=$MODULE_FOLDER/coverage.xml \
            $MODULE_FOLDER
          codecov --rootDir $MODULE_FOLDER

      - name: Create an artifact from test report
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: results
          path: |
            ${{ env.DRUPAL_ROOT }}/sites/simpletest/browser_output/
            ${{ env.DRUPAL_ROOT }}/coverage.xml
          retention-days: 1
